@import "tailwindcss";


* {
  scroll-behavior: smooth;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

 @keyframes wave {
  0% { transform: rotate(0deg); transform-origin: bottom right; }
  10% { transform: rotate(14deg); transform-origin: bottom right; }
  20% { transform: rotate(-8deg); transform-origin: bottom right; }
  30% { transform: rotate(14deg); transform-origin: bottom right; }
  40% { transform: rotate(-4deg); transform-origin: bottom right; }
  50% { transform: rotate(10deg); transform-origin: bottom right; }
  60% { transform: rotate(0deg); transform-origin: bottom right; }
  100% { transform: rotate(0deg); transform-origin: bottom right; }
} 

.hand-wave {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: bottom left;
}
 .scrollbar-hide::-webkit-scrollbar {
  display: none;
} 

.btn {
  @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-white transition-all active:scale-95 text-black font-bold mx-auto z-[49];
}

.btn-ping {
  @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
}

.btn-ping_dot {
  @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
}